.button {
  &--action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-font--white;
    width: 5rem;
    height: 5rem;
    border-radius: 30%;
    cursor: pointer;
    border: 1.5px solid $color-primary;

    transition: all 200ms;
    &:hover {
      background-color: $color-primary;
      transform: scale(1.08);
      & .icon {
        color: $color-font--white;
      }
    }
  }

  & .icon {
    transition: all 200ms;
    color: $color-primary;
    width: 3rem;
    height: 3rem;
  }
}
