.custom-page__404 {
  min-height: 40rem;
  @include flex-center;
  flex-direction: column;
  gap: 5rem;
  padding: 0 4rem;

  @include respondMax($bpw950) {
    min-height: 35rem;
  }
  @include respondMax($bpw770) {
    min-height: 30rem;
  }
  &-title {
    @include classy;
    font-size: 4rem;
    font-weight: 600;
    @include respondMax($bpw950) {
      font-size: 3.5rem;
    }
  }
  &-message-box {
    @include flex-center;
  }
  &-text {
    font-size: 3.5rem;
    @include classy;
    display: inline-block;
    @include respondMax($bpw950) {
      font-size: 3rem;
    }
  }

  &-logo {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    color: $color-font--black;
    fill: $color-font--black;
  }
}
