.footer {
  background-color: $color-font--black;
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  color: $color-font--white;
  padding: 2rem 3rem;
  padding-bottom: 0;

  & > * {
    padding: 2rem 5rem;
  }

  &-flavory {
    align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-about {
    display: flex;
    flex-direction: column;
  }

  &-address {
    display: flex;
    gap: 3.5rem;
    margin-top: auto;
    align-self: flex-end;
    padding: 1rem 5rem;
  }

  &-text {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: justify;
  }

  &-link {
    color: $color-font--white;
    font-style: normal;
    display: block;
  }

  &-link-2 {
    color: $color-font--white;
    font-style: normal;
    border: 1px solid transparent;
    transition: all 300ms;
    padding: 0.4rem;

    &:hover {
      border: 1px solid $color-font--white;
    }
  }

  &-logo {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-primary--white;

    // border: 2px solid $color-primary--white;
    // border-radius: 50%;
    // padding: 0.6rem;
    transition: all 300ms;
    &:hover {
      transform: scale(1.15);
    }
  }

  &-navigate-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    text-align: center;
    padding-left: 7rem;
    padding-right: 3rem;
    justify-items: flex-start;

    a:link,
    a:visited {
      display: block;
      text-decoration: underline;
      text-underline-offset: 0.3rem;
      color: $color-font--white;
      font-size: 1.4rem;
      transform: skewX(0deg) translateX(0);
      transition: all 300ms;
    }
    li:nth-child(even) {
      justify-self: flex-end;
    }

    a:hover,
    a:active {
      transform: skewX(-10deg) translateX(1rem);
    }
  }
  &-copyright {
    align-self: center;
    grid-column: 3/4;
    text-align: right;
    width: 100%;
    font-size: 1.4rem;

    padding: 1rem 5rem;
  }

  &-navigate {
    display: flex;
    flex-direction: column;
  }

  &-line {
    grid-column: 1/-1;
    height: 0.1rem;
    padding: 0;
    background-color: $color-primary--white;
  }
}
