.header {
  padding: 2rem 6rem;
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $color-font--white;
  background-image: linear-gradient(
      to bottom,
      rgba($color-primary, 0.15),
      rgba($color-primary, 0.05)
    ),
    url("/header-image.jpg");

  background-size: cover;
  background-position: center;
  color: $color-font--black;

  animation: blurIn 800ms;
  animation-fill-mode: both;
  animation-delay: 0ms;

  @include respondMax($bpw950) {
    padding: 2rem 4rem;
  }
  @include respondMax($bpw510) {
    padding: 2rem;
  }

  &-box {
    border-radius: 1rem;
    background-color: rgba(white, 0.6);
    backdrop-filter: blur(4px);
    width: 55%;
    min-width: min-content;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 3rem 4rem;
    padding-bottom: 1rem;
    padding-right: 8rem;

    margin-bottom: 1rem;
    @include respondMax($bpw860) {
      width: 50rem;
    }
    @include respondMax($bpw630) {
      padding-right: 4rem;
      width: 40rem;
    }
    & > p {
      font-size: 1.8rem;
      letter-spacing: 1px;
      margin-top: 2rem;
      margin-bottom: 3rem;
      @include respondMax($bpw630) {
        font-size: 1.6rem;
      }
    }
  }
  &-info-box {
    display: flex;
    justify-content: space-between;
    color: $color-font--white;
    background-color: rgba($color-font--black, 0.9);
    border-radius: 1rem;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    padding: 0.5rem 3rem;
  }
}
