.hero {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  padding: 12rem 10rem;

  gap: 10rem;
  // justify-content: space-between;
  @include respondMax($bpw1640) {
    padding: 12rem 8rem;
    gap: 8rem;
  }
  @include respondMax($bpw1460) {
    grid-template-columns: 0.65fr 0.35fr;
    gap: 6rem;
  }
  @include respondMax($bpw1290) {
    grid-template-columns: 7fr 3fr;
    gap: 5rem;
  }
  @include respondMax($bpw1200) {
    grid-template-columns: 3fr 1fr;
  }
  @include respondMax($bpw1150) {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  @include respondMax($bpw950) {
    padding: 12rem 6rem;
  }
  @include respondMax($bpw770) {
    padding: 12rem 4rem;
  }
  @include respondMax($bpw510) {
    padding: 10rem 2rem;
  }
  @include respondMax($bpw350) {
    padding: 8rem 2rem;
  }
  // @include respondMax($bpw380) {
  //   padding: 12rem 2rem;
  // }
  text-align: center;
  &-title {
    font-family: "Montserrat", monospace;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: $color-font--black;
    animation: moveToTop 800ms, fadeIn 800ms;
    animation-delay: addAnimDelay($animation-hero-delay, 1);
    animation-fill-mode: both;

    @include respondMax($bpw1640) {
      font-size: 4.4rem;
    }
    @include respondMax($bpw1350) {
      font-size: 4.2rem;
    }
    @include respondMax($bpw1150) {
      padding: 0 3rem;
    }
    @include respondMax($bpw950) {
      padding: 0;
    }
    @include respondMax($bpw770) {
      font-size: 4rem;
    }
    @include respondMax($bpw420) {
      font-size: 3.6rem;
    }
  }
  &-box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  &-feature-box {
    margin-top: 2.5rem;
    animation: moveToTop 800ms, fade 800ms;
    animation-delay: addAnimDelay($animation-hero-delay, 3);
    animation-fill-mode: both;
  }

  &-feature-text {
    color: $color-font--black;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
  }

  &-feature-text::before,
  &-feature-text::after {
    content: "";
    height: 1.5px;
    margin: 0 1.5rem;
    background-color: $color-font--black;
  }

  &-feature-list {
    border-radius: 0.75rem;
    background-color: $color-font--black;
    padding: 1.5rem 5rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
    margin-top: 1.5rem;
    @include respondMax($bpw770) {
      padding: 1.5rem 3rem;
    }
    @include respondMax($bpw630) {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, 1fr);
      background-color: white;
      column-gap: 4rem;
      row-gap: 2rem;
      padding: 1.5rem 0;
    }
    @include respondMax($bpw510) {
      column-gap: 3rem;
    }
    @include respondMax($bpw420) {
      column-gap: 2rem;
    }
    & li {
      @include respondMax($bpw630) {
        @include flex-center;

        width: 40vw;
        padding: 1.5rem 0;
        background-color: $color-font--black;
        border-radius: 0.5rem;

        &:nth-child(odd) {
          justify-self: center;
        }
        &:nth-child(even) {
          justify-self: center;
        }
      }
    }
  }

  &-feature-item {
    height: 2.5rem;
    width: auto;
    display: block;

    filter: opacity(100%);
    @include respondMax($bpw1150) {
      height: 2.2rem;
    }
    @include respondMax($bpw770) {
      height: 1.9rem;
    }
    @include respondMax($bpw420) {
      height: 1.6rem;
    }
  }
  &-text,
  &-text-2,
  &-actions {
    animation: moveToTop 800ms, fade 800ms;
    animation-delay: addAnimDelay($animation-hero-delay, 2);
    animation-fill-mode: both;
  }
  &-text {
    margin-top: 8rem;
    font-size: 1.6rem;
    color: $color-font--black;
    font-weight: 300;
    @include respondMax($bpw420) {
      margin-top: 6rem;
    }
  }
  &-text-2 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    font-weight: 300;
  }
  &-actions {
    margin-top: 3rem;
    // @include flex-center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
    gap: 4rem;
    @include respondMax($bpw510) {
      column-gap: 3rem;
    }
    @include respondMax($bpw420) {
      column-gap: 2rem;
    }
  }
  &-image-box {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    padding: 0rem;
    width: 100%;
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;

    background-size: cover;

    animation: fade 800ms, blurIn 800ms;
    animation-delay: addAnimDelay($animation-hero-delay, 4);
    animation-fill-mode: both;
    @include respondMax($bpw1460) {
      gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
    }
    @include respondMax($bpw1290) {
      grid-template-columns: 1fr;
    }
    @include respondMax($bpw1150) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 5rem;
    }
    @include respondMax($bpw950) {
      grid-template-columns: 1fr 1fr;
    }
    @include respondMax($bpw770) {
      gap: 4rem;
    }
    @include respondMax($bpw630) {
      display: none;
    }
  }
  &-image-center {
    display: block;
    grid-row: 1/-1;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include respondMax($bpw1290) {
      display: none;
    }
    @include respondMax($bpw1150) {
      display: block;
      grid-column: 3/4;
      height: 30rem;
    }
    @include respondMax($bpw950) {
      display: none;
    }
  }

  &-image-1 {
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include respondMax($bpw1150) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &-image-2 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
