.navigation {
  padding: 1.5rem 6rem;
  padding-top: 1.5rem;
  border-bottom: 3px double $color-font--black;
  background-color: white;
  display: flex;
  justify-content: space-between;

  animation: fade 800ms;
  animation-fill-mode: both;
  animation-delay: 0ms;
  &-list,
  &-list-2 {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
  }

  &-list-2 {
    gap: 2rem;
  }

  &-item,
  &-item-2,
  &-item-3 {
    @include classy;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    a:link,
    a:visited {
      padding: 1.5rem 3rem;
      text-decoration: none;
      color: $color-font--black;
      transition: all 250ms;
      border-radius: 0.5rem;
      border-bottom: 2px solid transparent;
    }

    a:hover,
    a:active {
      border-bottom: 2px solid $color-primary;
      color: $color-primary;
      background-color: $color-primary--white;
    }
  }

  &-item.current a {
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
    background-color: $color-primary--white;
  }

  &-item-2 {
    a:link,
    a:visited {
      padding: 1rem 2.5rem;
      color: $color-font--white;
      background-color: $color-primary;
      border: 1.5px solid transparent;
    }
  }
  &-item-3 {
    a:link,
    a:visited {
      padding: 1rem 2.5rem;
      color: $color-primary;
      background-color: white;
      border: 1.5px solid $color-primary;
    }
  }

  &__logout {
    @include button--smooth;
    @include flex-center;
    @include classy;
    font-size: 1.6rem;
    padding: 1rem 3rem;
    color: $color-primary;
    background-color: white;
    border: 1.5px solid $color-primary;
    font-family: inherit;
    transition: all 250ms;
    &:hover:not(:disabled) {
      transform: scale(1.05);
    }
    &:disabled {
      color: $color-font--gray;
      border: 1.5px solid $color-font--gray;
      cursor: not-allowed;
    }
  }
}
