.no-selected {
  @include flex-center;
  padding: 5rem;

  @include respondMax($bpw720) {
    padding: 3rem;
  }

  @include respondMax($bpw510) {
    padding: 2rem;
  }
  &__message {
    @include classy;
    font-size: 2rem;
    text-align: center;

    font-weight: 300;
    @include respondMax($bpw720) {
      font-size: 2rem;
    }
    @include respondMax($bpw510) {
      font-size: 1.6rem;
    }
  }
}
