.pages {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  &__item {
    margin: 1rem 1.5rem;
  }
  &__button {
    @include button--circle;
    cursor: pointer;
    font: inherit;
    // background-color: $color-font--white;
    // color: $color-font--black;
    height: 4rem;
    width: 4rem;
    &.current {
      background-color: $color-primary;
      color: $color-font--white;
    }
  }
}
