.recipe {
  @include left-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include respondMax($bpw950) {
    // display: grid;
    // grid-template-columns: 1.2fr 1fr;
    // grid-template-rows: 1fr auto;
    // align-items: stretch;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  &__image-box {
    overflow: hidden;
    aspect-ratio: 16/10;
    width: 100%;
    position: relative;
    @include respondMax($bpw950) {
      aspect-ratio: 2/1;
    }
    @include respondMax($bpw510) {
      aspect-ratio: 4/3;
    }
  }

  &__title {
    font-family: "Montserrat", monospace;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    z-index: 1;
    bottom: 2rem;
    right: 2rem;
    text-transform: uppercase;
    color: $color-font--white;
    font-style: italic;
    text-align: right;
    display: -webkit-box;
    left: 2rem;

    backdrop-filter: blur(2px);
    & span {
      font-size: 3.5rem;
      border-radius: 0.5rem;
      padding: 0.5rem 2rem;
      box-decoration-break: clone;
      background-image: linear-gradient(
        to bottom,
        rgba($color-primary, 0.8),
        rgba($color-primary, 0.65)
      );
      @include respondMax($bpw770) {
        font-size: 3rem;
      }
      @include respondMax($bpw630) {
        font-size: 2.5rem;
      }
      @include respondMax($bpw350) {
        font-size: 2rem;
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }

  &__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap: 1rem;
  }
  &__publisher {
    @include classy;
    color: $color-font--black;
    font-size: 2.6rem;
    margin-right: auto;
    @include respondMax($bpw630) {
      font-size: 2.2rem;
    }
    @include respondMax($bpw350) {
      font-size: 1.8rem;
      letter-spacing: 0.5px;
    }
  }
  &__button-action {
    @include button--circle;
    cursor: pointer;
    // top: 2rem;
    // right: 2rem;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    opacity: 0.9;
    font-size: 2rem;
    font-weight: 600;

    transition: all 300ms;

    &.saved {
      color: red;
    }
    @include respondMax($bpw630) {
      width: 4rem;
      height: 4rem;
      padding: 0.5rem;
    }
  }

  &__logo,
  &__logo-2 {
    height: 2.75rem;
    width: 2.75rem;
    color: currentColor;
    fill: currentColor;
  }

  &__logo-2 {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1.5rem;

    @include respondMax($bpw630) {
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }
  }
  &__all-details {
    color: $color-font--black;
    display: flex;
    flex-direction: column;
    // gap: 1rem;

    & > * {
      padding: 1rem 2rem;
    }
  }

  &__link-box {
    margin: 1rem 2rem;
    margin-top: 3rem;
    justify-self: flex-end;
    grid-column: 1/-1;
  }
  &__link {
    text-align: right;
    &:link,
    &:visited {
      color: $color-primary;
    }

    &:hover,
    &:active {
      font-weight: 500;
    }
    @include respondMax($bpw350) {
      font-size: 1.2rem;
    }
  }

  &__controls {
    @include flex-center;
    background-color: $color-primary--white-dark-1;
  }
  &__duration {
    @include flex-end;
    @include classy;
    @include respondMax($bpw510) {
      letter-spacing: 0.5px;
    }
    @include respondMax($bpw420) {
      letter-spacing: 0px;
    }
    @include respondMax($bpw350) {
      font-size: 1.3rem;
    }
  }
  &__servings {
    @include classy;
    margin: 0 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    @include respondMax($bpw510) {
      letter-spacing: 0.5px;
    }
    @include respondMax($bpw420) {
      letter-spacing: 0px;
    }
    @include respondMax($bpw350) {
      font-size: 1.3rem;
    }
  }
  &__button {
    @include flex-center;
    @include button--smooth;
    background-color: white;
    color: $color-font--black;
    // border: 1.5px solid $color-font--black;
    cursor: pointer;
    margin: 0 0.5rem;
    height: 5rem;
    padding: 1rem;

    @include respondMax($bpw630) {
      height: 4rem;
      padding: 0.5rem;
    }
    @include respondMax($bpw510) {
      margin: 0 0.25rem;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    & span {
      font-size: 1.2rem;
    }
  }

  &__ingredient-list {
    color: $color-font--black;
    display: grid;
    padding: 2rem 5rem;
    padding-bottom: 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
    align-items: flex-end;
    justify-content: center;
    @include respondMax($bpw1200) {
      grid-template-columns: 1fr;
      row-gap: 1rem;
      padding: 0 3rem;
    }
    @include respondMax($bpw950) {
      grid-template-columns: 1fr 1fr;
    }
    @include respondMax($bpw510) {
      padding: 0 2rem;
    }
    @include respondMax($bpw460) {
      grid-template-columns: 1fr;
    }
  }
}
