.search {
  @include right-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 2rem rgba(black, 0.1);
  overflow: hidden;

  @include respondMax($bpw950) {
    margin-top: 4rem;
  }
  &__box {
    padding: 4rem;
    @include respondMax($bpw950) {
      padding: 3rem;
    }
    @include respondMax($bpw510) {
      padding: 2rem;
    }
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 3rem;
    @include respondMax($bpw510) {
      gap: 2rem;
    }
  }
  &__button-box {
    padding: 6rem;
    display: flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: space-between;
    padding: 0 5rem;
    margin-bottom: 2rem;
    @include respondMax($bpw630) {
      padding: 0 3rem;
    }
    @include respondMax($bpw510) {
      padding: 0 2rem;
    }
  }
  &__bar {
    padding: 1rem;
    font-family: inherit;

    border: 1.5px solid rgba($color-font--black, 0.3);
    border-radius: 0.75rem;
    &::placeholder {
      font-family: inherit;
    }

    &:focus {
      outline: none;
      border: 1.5px solid $color-primary;
    }
  }

  &__button {
    @include classy;
    @include button--smooth;
    &:hover {
      transform: scale(1.02);
    }
    padding: 1rem 2rem;
    font-family: inherit;
    border-radius: 0.75rem;
    @include respondMax($bpw630) {
      display: none;
    }
  }

  &__logo {
    display: none;
    height: 100%;
    color: white;
    @include button--smooth;
    padding: 0.5rem;
    @include respondMax($bpw630) {
      display: inline-block;
    }
    &:hover {
      transform: scale(1.02);
    }
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 0.5rem;
    grid-column: 1/-1;
    padding: 0 4rem;
    margin-bottom: 4rem;
    width: 100%;
    justify-self: center;
    // @include respondMax($bpw1200) {
    //   padding: 0 12rem;
    // }
    @include respondMax($bpw950) {
      padding: 0;
    }
  }
}
