.testimonial {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 6rem;
  padding: 12rem 30rem;
  background-color: $color-primary--white;
  overflow: hidden;
  @include respondMax($bpw1640) {
    padding: 10rem 24rem;
  }
  @include respondMax($bpw1350) {
    padding: 10rem 18rem;
  }
  @include respondMax($bpw1200) {
    padding: 10rem 12rem;
  }
  @include respondMax($bpw950) {
    padding: 10rem 8rem;
  }
  @include respondMax($bpw770) {
    padding: 10rem 6rem;
  }
  @include respondMax($bpw510) {
    padding: 10rem 4rem;
  }

  &-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    @include respondMax($bpw510) {
      grid-template-columns: 1fr;
    }
  }
  &-item-2 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    @include respondMax($bpw510) {
      grid-template-columns: 1fr;
    }
  }

  &-box,
  &-box-2 {
    margin-left: -4rem;
    background-color: white;
    box-shadow: 1rem 1rem 2rem rgba(black, 0.12);
    color: $color-font--black;
    display: flex;
    border-radius: 0.8rem;
    flex-direction: column;
    padding: 3rem 7.5rem;
    padding-right: 3.5rem;
    transform: skewX(-10deg);

    @include respondMax($bpw1290) {
      transform: skewX(0deg);
    }
    & * {
      transform: skewX(10deg);
      @include respondMax($bpw1290) {
        transform: skewX(0deg);
      }
    }
  }
  &-box-2 {
    margin-left: 0;
    padding-left: 3.5rem;
    padding-right: 7.5rem;
  }

  &-author {
    font-size: 3.4rem;
    font-family: "Montserrat", monospace;
    font-weight: 600;
    letter-spacing: 0.5px;
    white-space: nowrap;
    @include respondMax($bpw630) {
      font-size: 3rem;
      letter-spacing: 0px;
    }
  }
  &-video-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  &-video {
    height: 100%;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &-image,
  &-image-2 {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    border-image: url("../assets/svg blobs/blob-1.svg");
    border-image-slice: 30 fill;
    z-index: 1;
    outline: 3.5px solid $color-primary;
    outline-offset: 6px;
    cursor: pointer;

    transition: all 400ms;
    &:hover {
      transform: scale(1.03);
    }
    @include respondMax($bpw1290) {
      width: 16rem;
      height: 16rem;
    }
  }

  &-image-2 {
    margin-left: -4rem;
  }

  &-text {
    font-style: italic;
    text-align: justify;
    font-size: 1.8rem;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    @include respondMax($bpw630) {
      font-size: 1.6rem;
    }
  }
}
