.testimonial {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 6rem;
  padding: 12rem 30rem;
  background-color: $color-primary--white;
  overflow: hidden;
  @include respondMax($bpw1640) {
    padding: 12rem 24rem;
  }
  @include respondMax($bpw1350) {
    padding: 12rem 18rem;
  }
  @include respondMax($bpw1200) {
    padding: 12rem 12rem;
  }
  @include respondMax($bpw950) {
    padding: 12rem 6rem;
  }
  @include respondMax($bpw770) {
    padding: 12rem 4rem;
  }
  @include respondMax($bpw510) {
    padding: 10rem 2rem;
  }
  @include respondMax($bpw420) {
    gap: 3rem;
  }
  @include respondMax($bpw350) {
    padding: 8rem 2rem;
  }

  &-title {
    font-family: "Montserrat", monospace;
    font-size: 4.2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: $color-font--black;
    text-align: center;
    @include respondMax($bpw1350) {
      font-size: 4rem;
    }
    @include respondMax($bpw770) {
      font-size: 3.5rem;
    }
    @include respondMax($bpw420) {
      font-size: 3rem;
      letter-spacing: 0.6px;
    }
  }
  &-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    @include respondMax($bpw630) {
      grid-template-columns: 1fr;
    }
  }
  &-item-2 {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    @include respondMax($bpw630) {
      grid-template-columns: 1fr;
    }
  }

  &-box,
  &-box-2 {
    background-color: white;
    box-shadow: 1rem 1rem 2rem rgba(black, 0.12);
    color: $color-font--black;
    display: flex;
    border-radius: 0.8rem;
    flex-direction: column;
    transform: skewX(-10deg);

    @include respondMax($bpw1290) {
      transform: skewX(0deg);
    }
    & * {
      transform: skewX(10deg);
      @include respondMax($bpw1290) {
        transform: skewX(0deg);
      }
    }
  }

  &-box {
    margin-left: -4rem;
    padding: 3rem;
    padding-left: 7.5rem;
    @include respondMax($bpw630) {
      padding: 2rem;
      margin-left: 0;
    }
  }
  &-box-2 {
    margin-right: -4rem;
    margin-left: 0;
    padding: 3rem;
    padding-right: 7.5rem;
    @include respondMax($bpw630) {
      padding: 2rem;
      margin-right: 0;
    }
  }

  &-author,
  &-author--2 {
    font-size: 3rem;
    font-family: "Montserrat", monospace;
    font-weight: 600;
    letter-spacing: 0.5px;
    white-space: nowrap;

    @include respondMax($bpw770) {
      font-size: 2.7rem;
    }
    @include respondMax($bpw630) {
      text-align: right;
    }
    @include respondMax($bpw420) {
      font-size: 2.4rem;
    }
  }

  &-author--2 {
    @include respondMax($bpw630) {
      text-align: left;
    }
  }

  &-profession {
    font-size: 2.2rem;
    text-align: right;
    font-family: "Inconsolata", monospace;
    @include respondMax($bpw630) {
      font-size: 1.8rem;
    }
  }
  &-video-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }

  &-video {
    height: 100%;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &-image,
  &-image-2 {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    border-image: url("../assets/svg blobs/blob-1.svg");
    border-image-slice: 30 fill;
    z-index: 1;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.6);
    // outline: 2px solid $color-primary;
    // outline-offset: 2px;
    cursor: pointer;

    transition: all 400ms;
    &:hover {
      transform: scale(1.03);
    }
    @include respondMax($bpw1290) {
      width: 16rem;
      height: 16rem;
    }
    @include respondMax($bpw630) {
      height: 14rem;
      width: 14rem;
      grid-row: 1/2;
      justify-self: flex-start;
      margin-bottom: -4rem;
      // outline: 1.5px solid $color-primary;
      // outline-offset: 1.5px;
      margin-left: 1rem;
    }
    @include respondMax($bpw510) {
      width: 12rem;
      height: 12rem;
    }
    @include respondMax($bpw420) {
      height: 10rem;
      width: 10rem;
      // outline: 1.5px solid $color-primary;
      // outline-offset: 3px;
    }
    @include respondMax($bpw350) {
      margin-bottom: -3.5rem;
    }
  }

  &-image-2 {
    @include respondMax($bpw630) {
      justify-self: flex-end;
      margin-right: 1rem;
    }
  }

  &-text {
    font-style: italic;
    text-align: justify;
    font-size: 1.8rem;
    margin: 2rem 0;
    margin-bottom: 2.8rem;
    @include respondMax($bpw950) {
      margin: 2rem 0;
    }
    @include respondMax($bpw770) {
      margin: 1.6rem 0;
    }
    @include respondMax($bpw630) {
      font-size: 1.6rem;
    }
    @include respondMax($bpw420) {
      margin: 1.2rem 0;
    }
  }
}
