.login {
  @include flex-center;
  display: flex;
  flex-direction: column;
  padding: 4rem;
  gap: 3rem;

  &__title {
    @include classy;
    font-size: 3.5rem;
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 6rem;
    align-items: center;
  }

  &__submit {
    background-color: $color-primary;
    grid-column: 2/-1;
    border: none;
    font-family: inherit;
    color: $color-font--white;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.6rem;
    &:disabled {
      color: $color-font--gray;
      border: 1.5px solid $color-font--gray;
      cursor: not-allowed;
      background-color: white;
    }
  }
}
