.login {
  display: flex;
  flex-direction: column;
  padding: 8rem 48rem;

  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
  &__input {
    border: none;
    border-radius: 1px;
    font-family: inherit;
    padding: 0.3rem 1rem;
    font-weight: 500;
    font-size: 1.6rem;
    color: $color-font--black;
    outline: 2px solid rgb(230, 230, 230);
  }
  &__input:focus {
    outline: 2px solid $color-primary--light;
  }

  &__label {
    font-size: 1.6rem;
    color: $color-font--black;
    font-weight: 500;
  }

  &__submit {
    background-color: $color-primary;
    grid-column: 2/-1;
    border: none;
    font-family: inherit;
    color: $color-font--white;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    border-radius: 0.8rem;
    cursor: pointer;
    font-size: 1.6rem;
  }
}
