.recipes {
  display: grid;
  grid-template-columns: 60rem auto;
  align-items: flex-start;
  position: relative;
  // margin-top: 4rem;
  padding: 6rem;
  column-gap: 6rem;
  @include respondMax($bpw1460) {
    grid-template-columns: 55rem auto;
  }
  @include respondMax($bpw1350) {
    grid-template-columns: 50rem auto;
  }
  @include respondMax($bpw950) {
    grid-template-columns: 1fr;
    padding: 6rem 14rem;
  }
  @include respondMax($bpw860) {
    padding: 4rem 10rem;
  }
  @include respondMax($bpw720) {
    padding: 4rem 8rem;
  }
  @include respondMax($bpw630) {
    padding: 4rem;
  }
  @include respondMax($bpw510) {
    padding: 4rem 2rem;
  }
}
