$bpw1640: 1640px; // change paddings
$bpw1460: 1460px;
$bpw1350: 1350px;
$bpw1290: 1290px;
$bpw1200: 1200px; //9px
$bpw1150: 1150px;
$bpw1060: 1060px; //change recipe card no.
$bpw950: 950px; // change paddings
$bpw860: 860px;
$bpw770: 770px; // change paddings //font size change //burger menu
$bpw720: 720px; //hamburger menu
$bpw630: 630px;
//600 embrace double lines
$bpw510: 510px; // change paddings and top padding
$bpw420: 420px; //font size change
$bpw380: 380px;
$bpw350: 350px;

@mixin respondMax($breakpoint) {
  @media (max-width: calc(($breakpoint/16px * 1em))) {
    @content;
  }
}
