$color-primary: #ea5c2b;
$color-primary--light: #ff7f3f;
$color-primary--lighter: #fb9a69;
$color-primary--lightest: #fdc5a9;
$color-primary--white: rgb(255, 250, 246);
$color-primary--white-dark-1: rgb(250, 238, 229);

$color-accent--yellow: #f6d860;
$color-accent--green: #95cd41;

$color-font--white: rgb(255, 245, 236);
$color-font--black: #3f2107;

$animation-hero-delay: 600;
