.button {
  &--action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-font--white;
    width: 5rem;
    height: 5rem;
    border-radius: 30%;
    cursor: pointer;
    border: 1.5px solid $color-primary;

    transition: all 200ms;
    &:hover {
      background-color: $color-primary;
      transform: scale(1.08);
      & .icon {
        color: $color-font--white;
      }
    }
  }

  & .icon {
    transition: all 200ms;
    color: $color-primary;
    width: 3rem;
    height: 3rem;
  }

  &-hero--signup {
    @include button--smooth;
    @include classy;
    color: $color-font--white;
    border: 1.5px solid transparent;
    background-color: $color-primary;
    padding: 1rem 3rem;
    border-radius: 0.75rem;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 500;
  }

  &-hero--start {
    @include button--smooth;
    @include classy;
    color: $color-primary;
    border: 1.5px solid $color-primary;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 0.75rem;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: 500;
  }
}
