.input {
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.3rem 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: $color-font--black;
  width: 100%;
  outline: 1.5px solid rgb(230, 230, 230);

  transition: all 150ms;
  &:focus {
    outline: 1.5px solid $color-primary--light;
  }

  &.invalid {
    background-color: $color-state-error-bg;
    outline: 1.5px solid $color-state-error-border;
  }

  &__label {
    @include classy;
    font-size: 1.6rem;
    color: $color-font--black;
    font-weight: 400;
  }
}
