.new-recipe {
  padding: 8rem 20rem;

  &__form {
    padding: 6rem;
    padding-bottom: 3rem;
    border-radius: 1.5em;
    margin-top: 4rem;
    box-shadow: 0 0 2rem rgba(black, 0.12);
  }
  &__group--1 {
    display: grid;
    grid-template-columns: 3fr 4.5fr 3fr 4.5fr;
    column-gap: 6rem;
    row-gap: 1.5rem;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  &__group--2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto 2fr auto 3fr auto 5fr;
    column-gap: 3rem;
    row-gap: 1.5rem;
    align-items: center;
  }
  &__group--3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-box {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 4rem;
    align-items: flex-end;
  }

  &__status {
    margin-top: 8rem;
    text-align: center;
    display: block;
    color: red;
  }
  &__button {
    background-color: $color-primary--white;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    transition: all 300ms;
    font-size: 4rem;
    color: $color-font--black;
    border-radius: 50%;
    border: 1.5px solid $color-primary--lightest;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__submit-button {
    background-color: $color-primary--white;
    cursor: pointer;
    padding: 1.5rem 3.5rem;
    // height: 6rem;
    transition: all 300ms;
    font-size: 1.8rem;
    color: $color-font--black;
    border-radius: 1rem;
    border: 1.5px solid $color-primary--lightest;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      transform: scale(1.05);
    }
  }
}
