html {
  font-size: 62.5%;
  @include respondMax($bpw1200) {
    font-size: 56.25%;
  }
  @include respondMax($bpw720) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::selection {
  background: $color-primary;
  color: $color-font--white;
}

#__next {
  overflow: hidden;
}
