html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::selection {
  background: $color-primary;
  color: $color-font--white;
}

#__next {
  overflow: hidden;
}
