@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ea5c2b;
  font-family: "Montserrat", sans-serif;
}

.heading--1 {
  font-family: "Inconsolata", monospace;
  font-size: 6.6rem;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #3f2107;
}

.button--action {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 245, 236);
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
  cursor: pointer;
  border: 1.5px solid #ea5c2b;
  transition: all 200ms;
}
.button--action:hover {
  background-color: #ea5c2b;
  transform: scale(1.08);
}
.button--action:hover .icon {
  color: rgb(255, 245, 236);
}
.button .icon {
  transition: all 200ms;
  color: #ea5c2b;
  width: 3rem;
  height: 3rem;
}

.project-info p {
  font-size: 1.4rem;
  text-align: right;
}

.contact-info {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.contact-info .contact-item {
  width: 3.6rem;
  height: 3.6rem;
  transition: all 200ms;
}
.contact-info .contact-item:hover {
  transform: scale(1.1);
}
.contact-info .contact-logo {
  width: 3.6rem;
  height: 3.6rem;
  fill: #3f2107;
}

.link:link, .link:visited {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  color: #3f2107;
}
.link:hover, .link:active {
  background-color: #ff7f3f;
}

.tab {
  border: none;
  cursor: pointer;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: rgb(255, 250, 246);
  font-size: 1.6rem;
  color: #3f2107;
  letter-spacing: 0.7px;
  border-bottom: 3px solid transparent;
  transition: all 300ms;
}
.tab.active {
  border-bottom: 3px solid #ea5c2b;
}
.tab:hover {
  transform: scale(1.05);
}

.header {
  padding: 3rem 8rem;
  background-color: rgb(255, 245, 236);
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(234, 92, 43, 0.15), rgba(234, 92, 43, 0.05)), url(./assets/header-image.jpg);
  background-size: cover;
  background-position: center;
  color: #3f2107;
}
.header-box {
  border-radius: 1rem;
  background-color: rgba(255, 245, 236, 0.6);
  backdrop-filter: blur(4px);
  width: 50%;
  min-width: min-content;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 4rem 6rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}
.header-box > p {
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.navigation {
  background-color: rgb(255, 250, 246);
  margin: 0 5rem;
  padding-top: 5rem;
}
.navigation-list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}
.navigation-logo {
  height: 2.4rem;
  width: 2.4rem;
  display: inline-block;
  fill: #ea5c2b;
}
.navigation-logo path {
  fill: #ea5c2b;
}
.navigation-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*# sourceMappingURL=index.css.map */
