@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::selection {
  background: #ea5c2b;
}

#__next {
  overflow: hidden;
}

@keyframes moveToRight {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes blurIn {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}
@keyframes moveToLeft {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes moveToTop {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ea5c2b;
  font-family: "Montserrat", sans-serif;
}

.heading--1 {
  font-family: "Inconsolata", monospace;
  font-size: 5.4rem;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #3f2107;
}

.heading--1b {
  font-family: "Montserrat", monospace;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #3f2107;
  animation: moveToTop 800ms, fadeIn 800ms;
  animation-delay: 600ms;
  animation-fill-mode: both;
}

.heading--1c {
  font-family: "Montserrat", monospace;
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #3f2107;
  text-align: center;
}

.heading--1d {
  font-family: "Montserrat", monospace;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: rgb(255, 250, 246);
  text-align: left;
  letter-spacing: 10px;
  line-height: 1;
}

.heading--2 {
  font-size: 3.5rem;
  font-family: "Montserrat", monospace;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.heading--3 {
  font-size: 2.2rem;
  text-align: right;
  font-family: "Inconsolata", monospace;
}

.heading--3b {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  text-align: left;
  font-family: "Inconsolata", monospace;
}

.button--action {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 245, 236);
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
  cursor: pointer;
  border: 1.5px solid #ea5c2b;
  transition: all 200ms;
}
.button--action:hover {
  background-color: #ea5c2b;
  transform: scale(1.08);
}
.button--action:hover .icon {
  color: rgb(255, 245, 236);
}
.button .icon {
  transition: all 200ms;
  color: #ea5c2b;
  width: 3rem;
  height: 3rem;
}
.button-hero--signup {
  background-color: #ea5c2b;
  border: none;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 500;
  color: rgb(255, 245, 236);
  animation: zoomOut 400ms;
  animation-fill-mode: both;
}
.button-hero--signup:hover {
  animation: zoomIn 400ms;
  animation-fill-mode: both;
}
.button-hero--start {
  background-color: rgb(255, 250, 246);
  border: 1.5px solid #ea5c2b;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 500;
  animation: zoomOut 400ms;
  animation-fill-mode: both;
}
.button-hero--start:hover {
  animation: zoomIn 400ms;
  animation-fill-mode: both;
}

.project-info p {
  font-size: 1.4rem;
  text-align: right;
}

.contact-info {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}
.contact-info .contact-item {
  width: 3rem;
  height: 3rem;
  transition: all 200ms;
}
.contact-info .contact-item:hover {
  transform: scale(1.1);
}
.contact-info .contact-logo {
  width: 3rem;
  height: 3rem;
  fill: rgb(255, 245, 236);
}

.card {
  position: relative;
}

.link:link, .link:visited {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  color: #3f2107;
}
.link:hover, .link:active {
  background-color: #ff7f3f;
}

.tab {
  border: none;
  cursor: pointer;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: rgb(255, 250, 246);
  font-size: 1.6rem;
  color: #3f2107;
  letter-spacing: 0.7px;
  border-bottom: 3px solid transparent;
  transition: all 300ms;
}
.tab.active {
  border-bottom: 3px solid #ea5c2b;
}
.tab:hover {
  transform: scale(1.05);
}

.mask {
  position: absolute;
  z-index: -1;
}
.mask--recipes {
  width: 120%;
  aspect-ratio: 1/1;
  background-color: rgb(250, 238, 229);
  filter: blur(200px) saturate(70%);
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.mask--recipes-3 {
  width: 120%;
  aspect-ratio: 1/1;
  background-color: rgb(250, 238, 229);
  filter: blur(200px) saturate(70%);
  border-radius: 50%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.header {
  padding: 2rem 6rem;
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(255, 245, 236);
  background-image: linear-gradient(to bottom, rgba(234, 92, 43, 0.15), rgba(234, 92, 43, 0.05)), url(./header-image.jpg);
  background-size: cover;
  background-position: center;
  color: #3f2107;
  animation: blurIn 800ms;
  animation-fill-mode: both;
  animation-delay: 0ms;
}
.header-box {
  border-radius: 1rem;
  background-color: rgba(255, 245, 236, 0.6);
  backdrop-filter: blur(4px);
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3rem 4rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.header-box > p {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.header-info-box {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 245, 236);
  background-color: rgba(63, 33, 7, 0.9);
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  padding: 0.5rem 3rem;
}

.hero {
  display: flex;
  padding: 15rem 10rem;
  background-color: rgb(255, 250, 246);
  gap: 10rem;
  justify-content: space-between;
  text-align: center;
}
.hero-box {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.hero-feature-box {
  margin-top: 4rem;
  animation: moveToTop 800ms, fade 800ms;
  animation-delay: 1800ms;
  animation-fill-mode: both;
}
.hero-feature-text {
  color: #3f2107;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.hero-feature-text::before, .hero-feature-text::after {
  content: "";
  height: 1.5px;
  margin: 0 1.5rem;
  background-color: #3f2107;
}
.hero-feature-list {
  background-color: #3f2107;
  padding: 1.5rem 5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.hero-feature-item {
  height: 2.5rem;
  width: auto;
  display: block;
  filter: opacity(100%);
}
.hero-text, .hero-text-2, .hero-actions {
  animation: moveToTop 800ms, fade 800ms;
  animation-delay: 1200ms;
  animation-fill-mode: both;
}
.hero-text {
  margin-top: 8rem;
  font-size: 1.8rem;
  color: #3f2107;
}
.hero-text-2 {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
.hero-actions {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.hero-image-box {
  position: relative;
  padding: 0rem;
  width: 40%;
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-size: cover;
  animation: fade 800ms, blurIn 800ms;
  animation-delay: 2400ms;
  animation-fill-mode: both;
}
.hero-image-center {
  display: block;
  grid-row: 1/-1;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image-1 {
  display: block;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image-2 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  padding: 1rem 6rem;
  padding-top: 2rem;
  border-bottom: 3px double #3f2107;
  background-color: rgb(255, 250, 246);
  display: flex;
  justify-content: space-between;
  animation: fade 800ms;
  animation-fill-mode: both;
  animation-delay: 0ms;
}
.navigation-list, .navigation-list-2 {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.navigation-list-2 {
  gap: 2rem;
}
.navigation-item, .navigation-item-2, .navigation-item-3 {
  display: flex;
  align-items: center;
}
.navigation-item a:link,
.navigation-item a:visited, .navigation-item-2 a:link,
.navigation-item-2 a:visited, .navigation-item-3 a:link,
.navigation-item-3 a:visited {
  padding: 2rem 3rem;
  text-decoration: none;
  color: #3f2107;
  transition: all 250ms;
  border-radius: 2px;
  font-size: 1.8rem;
}
.navigation-item a:hover,
.navigation-item a:active, .navigation-item-2 a:hover,
.navigation-item-2 a:active, .navigation-item-3 a:hover,
.navigation-item-3 a:active {
  transform: scale(1.05);
  background-color: rgb(250, 238, 229);
}
.navigation-item-2 a:link,
.navigation-item-2 a:visited {
  padding: 1rem 3rem;
  color: rgb(255, 245, 236);
  background-color: #ea5c2b;
  border-radius: 1rem;
}
.navigation-item-3 a:link,
.navigation-item-3 a:visited {
  padding: 1rem 3rem;
  color: #ea5c2b;
  background-color: rgb(255, 250, 246);
  border-radius: 1rem;
  border: 2px solid #ea5c2b;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 15rem 30rem;
  background-color: rgb(250, 238, 229);
  overflow: hidden;
  position: relative;
}
.testimonial-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.testimonial-item-2 {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.testimonial-box, .testimonial-box-2 {
  margin-left: -4rem;
  background-color: rgb(255, 250, 246);
  color: #3f2107;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-left: 10rem;
  padding-right: 8rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.08);
  transform: skewX(-10deg);
}
.testimonial-box *, .testimonial-box-2 * {
  transform: skewX(10deg);
}
.testimonial-video-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.testimonial-video {
  height: 100%;
  opacity: 0.2;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.testimonial-box-2 {
  margin-left: 0;
}
.testimonial-image, .testimonial-image-2 {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  border-image: url("../assets/svg blobs/blob-1.svg");
  border-image-slice: 30 fill;
  z-index: 1;
  outline: 4px solid #ea5c2b;
  outline-offset: 6px;
  cursor: pointer;
  animation: zoomOut 400ms;
  animation-fill-mode: both;
}
.testimonial-image:hover, .testimonial-image-2:hover {
  animation: zoomIn 400ms;
  animation-fill-mode: both;
}
.testimonial-image-2 {
  margin-left: -4rem;
}
.testimonial-text {
  font-style: italic;
  font-size: 1.8rem;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.footer {
  background-color: #3f2107;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  color: rgb(255, 245, 236);
  row-gap: 2rem;
  padding: 0rem 6rem;
  padding-top: 4rem;
}
.footer > * {
  padding: 2rem 6rem;
}
.footer-flavory {
  align-self: flex-end;
}
.footer-about {
  display: flex;
  flex-direction: column;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  justify-content: space-between;
  padding: 0 6rem;
  margin-top: 1rem;
}
.footer-address {
  display: flex;
  justify-content: space-between;
}
.footer-text {
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: justify;
}
.footer-link {
  color: rgb(255, 245, 236);
  font-style: normal;
  display: block;
}
.footer-link-2 {
  color: rgb(255, 245, 236);
  font-style: normal;
  border: 1px solid transparent;
  transition: all 300ms;
  padding: 0.4rem;
}
.footer-link-2:hover {
  border: 1px solid rgb(255, 245, 236);
}
.footer-logo {
  width: 3.2rem;
  height: 3.2rem;
  fill: rgb(255, 250, 246);
  transition: all 300ms;
}
.footer-logo:hover {
  transform: scale(1.15);
}
.footer-navigate-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  text-align: center;
}
.footer-navigate-list a:link,
.footer-navigate-list a:visited {
  display: block;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: rgb(255, 245, 236);
  font-size: 1.6rem;
  transform: skewX(0deg) translateX(0);
  transition: all 300ms;
}
.footer-navigate-list a:hover,
.footer-navigate-list a:active {
  transform: skewX(-10deg) translateX(1rem);
}
.footer-copyright {
  padding-top: 1rem;
  grid-column: 1/-1;
  text-align: right;
  border-top: 1px solid rgb(255, 245, 236);
  width: 100%;
  font-size: 1.4rem;
  padding-right: 0;
}

.search {
  padding: 4rem;
  border-left: 2px dotted #3f2107;
}
.search-bar {
  font-family: inherit;
}
.search-bar::placeholder {
  font-family: inherit;
}
.search-button {
  padding: 1rem 2rem;
  background-color: rgba(246, 216, 96, 0.55);
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 0.5rem;
}
.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.5rem;
  margin-bottom: 4rem;
}
.search__item:hover .search__item--front {
  transform: rotateY(180deg);
}
.search__item:hover .search__item--back {
  transform: rotateY(360deg);
}
.search-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  column-gap: 3rem;
  row-gap: 2rem;
}
.search__item--front, .search__item--back {
  background-color: rgb(255, 250, 246);
  box-shadow: 1rem 1rem 2rem rgba(63, 33, 7, 0.13);
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
  transition: all 500ms;
  backface-visibility: hidden;
  border-radius: 1rem;
  border: none;
  overflow: hidden;
}
.search__item--front__image, .search__item--back__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.search__item--front__image-box, .search__item--back__image-box {
  display: block;
  height: 100%;
}
.search__item--front__mask, .search__item--back__mask {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 127, 63, 0.15), rgba(255, 127, 63, 0.05));
}
.search__item--front {
  transform: rotateY(0deg);
}
.search__item--front__title-box {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  text-align: right;
}
.search__item--front__title {
  background-image: linear-gradient(to bottom right, rgba(246, 216, 96, 0.95), rgba(246, 216, 96, 0.55));
  color: #3f2107;
  font-style: italic;
  font-weight: 500;
  padding: 0.3rem 1rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  font-size: 1rem;
  text-transform: uppercase;
}
.search__item--back {
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  position: absolute;
}
.search__item--back__image {
  filter: blur(3px);
}

.recipes {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  position: relative;
}

/*# sourceMappingURL=globals.css.map */
