@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

::selection {
  background: #ea5c2b;
}

#__next {
  overflow: hidden;
}

@keyframes moveToRight {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes blurIn {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}
@keyframes moveToLeft {
  0% {
    transform: translateX(100%);
  }
  70% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes moveToTop {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ea5c2b;
  font-family: "Montserrat", sans-serif;
}

.heading--1 {
  font-family: "Inconsolata", monospace;
  font-size: 5.4rem;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: #3f2107;
}

.heading--1b {
  font-family: "Montserrat", monospace;
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #3f2107;
  animation: moveToTop 800ms, fadeIn 800ms;
  animation-delay: 600ms;
  animation-fill-mode: both;
}

.heading--1c {
  font-family: "Montserrat", monospace;
  font-size: 4.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #3f2107;
  text-align: center;
}

.heading--1d {
  font-family: "Montserrat", monospace;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(255, 250, 246);
  text-align: left;
  letter-spacing: 10px;
  line-height: 1;
}

.heading--1e {
  font-family: "Montserrat", monospace;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 4rem;
  color: #3f2107;
  text-align: center;
  line-height: 1;
}

.heading--2 {
  font-size: 3.5rem;
  font-family: "Montserrat", monospace;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.heading--2b {
  font-size: 3.5rem;
  font-family: "Montserrat", monospace;
  font-weight: 600;
  letter-spacing: 0.5px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
  color: rgb(255, 250, 246);
  font-style: italic;
  text-align: right;
  display: -webkit-box;
  max-width: 75%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(2px);
}
.heading--2b span {
  padding: 0.5rem 2rem;
  box-decoration-break: clone;
  background-image: linear-gradient(to top, rgba(149, 205, 65, 0.8), rgba(149, 205, 65, 0.6));
}

.heading--2d {
  font-size: 2.8rem;
  font-weight: 500;
  font-family: "Montserrat", monospace;
  color: #3f2107;
}

.heading--3 {
  font-size: 2.2rem;
  text-align: right;
  font-family: "Inconsolata", monospace;
}

.heading--3b {
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  text-align: left;
  font-family: "Inconsolata", monospace;
}

.heading--3c {
  height: 6rem;
  font-weight: 600;
  font-family: "Montserrat", monospace;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button--action {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 245, 236);
  width: 5rem;
  height: 5rem;
  border-radius: 30%;
  cursor: pointer;
  border: 1.5px solid #ea5c2b;
  transition: all 200ms;
}
.button--action:hover {
  background-color: #ea5c2b;
  transform: scale(1.08);
}
.button--action:hover .icon {
  color: rgb(255, 245, 236);
}
.button .icon {
  transition: all 200ms;
  color: #ea5c2b;
  width: 3rem;
  height: 3rem;
}
.button-hero--signup {
  background-color: #ea5c2b;
  border: none;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 500;
  color: rgb(255, 245, 236);
  animation: zoomOut 400ms;
  animation-fill-mode: both;
}
.button-hero--signup:hover {
  animation: zoomIn 400ms;
  animation-fill-mode: both;
}
.button-hero--start {
  background-color: rgb(255, 250, 246);
  border: 1.5px solid #ea5c2b;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 500;
  animation: zoomOut 400ms;
  animation-fill-mode: both;
}
.button-hero--start:hover {
  animation: zoomIn 400ms;
  animation-fill-mode: both;
}

.project-info p {
  font-size: 1.4rem;
  text-align: right;
}

.contact-info {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}
.contact-info .contact-item {
  width: 3rem;
  height: 3rem;
  transition: all 200ms;
}
.contact-info .contact-item:hover {
  transform: scale(1.1);
}
.contact-info .contact-logo {
  width: 3rem;
  height: 3rem;
  fill: rgb(255, 245, 236);
}

.card {
  position: relative;
  cursor: pointer;
}

.link:link, .link:visited {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  color: #3f2107;
}
.link:hover, .link:active {
  background-color: #ff7f3f;
}

.tab {
  border: none;
  cursor: pointer;
  padding: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: rgb(255, 250, 246);
  font-size: 1.6rem;
  color: #3f2107;
  letter-spacing: 0.7px;
  border-bottom: 3px solid transparent;
  transition: all 300ms;
}
.tab.active {
  border-bottom: 3px solid #ea5c2b;
}
.tab:hover {
  transform: scale(1.05);
}

.mask1 {
  position: absolute;
  z-index: -1;
}
.mask1--recipes {
  width: 120%;
  aspect-ratio: 1/1;
  background-color: rgb(250, 238, 229);
  filter: blur(200px) saturate(70%);
  border-radius: 50%;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.mask1--recipes-3 {
  width: 120%;
  aspect-ratio: 1/1;
  background-color: rgb(250, 238, 229);
  filter: blur(200px) saturate(70%);
  border-radius: 50%;
  top: 0%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.spinner--1, .spinner--2, .spinner--3 {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
  animation-name: spin;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0.4px);
}
.spinner--1 {
  position: fixed;
  top: calc(50% - 3.25rem);
  left: calc(50% - 3.25rem);
  z-index: 1;
  width: 6.5rem;
  border: 5px solid #ea5c2b;
  border-top: 5px solid transparent;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}
.spinner--2 {
  width: 5.25rem;
  border: 5px solid #95cd41;
  border-right: 5px solid transparent;
  animation-duration: 1300ms;
  animation-timing-function: ease-out;
}
.spinner--3 {
  width: 4rem;
  border: 5px solid #f6d860;
  border-bottom: 5px solid transparent;
  animation-duration: 1860ms;
  animation-timing-function: ease-in;
}

.spinner-inside--1, .spinner-inside--2, .spinner-inside--3 {
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: transparent;
  animation-name: spin;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0.4px);
}
.spinner-inside--1 {
  top: calc(50% - 1.625rem);
  left: calc(50% - 1.625rem);
  z-index: 1;
  width: 3.25rem;
  border: 0.25rem solid #ea5c2b;
  border-top: 0.25rem solid transparent;
  animation-duration: 1000ms;
  animation-timing-function: ease-in;
}
.spinner-inside--2 {
  width: 2.625rem;
  border: 0.25rem solid #95cd41;
  border-right: 0.25rem solid transparent;
  animation-duration: 1300ms;
  animation-timing-function: ease-out;
}
.spinner-inside--3 {
  width: 2rem;
  border: 0.25rem solid #f6d860;
  border-bottom: 0.25rem solid transparent;
  animation-duration: 1860ms;
  animation-timing-function: ease-in;
}

.ingredient__quantity {
  font-weight: 600;
}

.chevron {
  cursor: pointer;
  font: inherit;
  background-color: rgb(255, 245, 236);
  color: #3f2107;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1.5px solid #ea5c2b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chevron__left-logo, .chevron__right-logo {
  height: 3rem;
  width: 3rem;
  color: #3f2107;
}
.chevron__left-logo {
  transform: translateX(-5%);
}
.chevron__right-logo {
  transform: translateX(5%);
}

.recipe-card__tag {
  position: absolute;
  right: 0;
  background-color: #ea5c2b;
  padding: 1.2rem 2rem;
  top: 0;
  color: rgb(255, 245, 236);
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.95;
  transform: translate(5%, calc(-50% - 5px));
  border-radius: 1rem;
}
.recipe-card:link, .recipe-card:visited {
  outline: 3.5px solid #ea5c2b;
  outline-offset: 6.5px;
  min-height: 45rem;
  text-decoration: none;
  color: #3f2107;
  padding: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font: inherit;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 2rem rgba(63, 33, 7, 0.15);
  background-color: white;
  transition: all 400ms;
  position: relative;
}
.recipe-card:hover, .recipe-card:active {
  transform: translateY(-1rem) scale(1.02);
  box-shadow: 0rem 0rem 1.6rem rgba(63, 33, 7, 0.23);
}
.recipe-card__all-details-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.recipe-card__title-box {
  background-color: #fcf7e1;
  padding: 0.5rem 2rem;
}
.recipe-card__image-box {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-top-left-radius: 2rem;
  overflow: hidden;
  border-top-right-radius: 2rem;
}
.recipe-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.recipe-card__details-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.recipe-card__list {
  list-style: none;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 3rem;
  gap: 2rem;
}
.recipe-card__item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.recipe-card__logo {
  width: 1.6rem;
  height: 1.6rem;
}
.recipe-card__item span {
  font-size: 1.3rem;
  font-style: italic;
  width: 100%;
  word-break: keep-all;
}

.bookmark {
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.08);
  overflow: hidden;
  position: relative;
  transition: all 300ms;
}
.bookmark:hover {
  transform: translateY(-0.5rem);
}
.bookmark__link {
  display: grid;
  text-decoration: none;
  grid-template-columns: 20rem 1fr;
  color: #3f2107;
  align-items: stretch;
  height: 20rem;
  background-color: rgb(255, 250, 246);
}
.bookmark__title {
  font-size: 2.4rem;
}
.bookmark__details-box {
  padding: 2rem 4rem;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bookmark__image-box {
  height: 20rem;
  width: 20rem;
  flex-basis: 20rem;
  overflow: hidden;
}
.bookmark__image {
  height: 20rem;
  width: 20rem;
  object-fit: cover;
}
.bookmark__unsave {
  height: 4.25rem;
  width: 4.25rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: rgb(250, 238, 229);
  color: currentColor;
  fill: currentColor;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  transition: all 300ms;
}
.bookmark__unsave:hover {
  transform: scale(1.2);
}

.new-recipe {
  padding: 8rem 20rem;
}
.new-recipe__form {
  padding: 6rem;
  padding-bottom: 3rem;
  border-radius: 1.5em;
  margin-top: 4rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.12);
}
.new-recipe__group--1 {
  display: grid;
  grid-template-columns: 3fr 4.5fr 3fr 4.5fr;
  column-gap: 6rem;
  row-gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.new-recipe__group--2 {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto 2fr auto 3fr auto 5fr;
  column-gap: 3rem;
  row-gap: 1.5rem;
  align-items: center;
}
.new-recipe__group--3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new-recipe__button-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0 4rem;
  align-items: flex-end;
}
.new-recipe__status {
  margin-top: 8rem;
  text-align: center;
  display: block;
  color: red;
}
.new-recipe__button {
  background-color: rgb(255, 250, 246);
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  transition: all 300ms;
  font-size: 4rem;
  color: #3f2107;
  border-radius: 50%;
  border: 1.5px solid #fdc5a9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-recipe__button:hover {
  transform: scale(1.05);
}
.new-recipe__submit-button {
  background-color: rgb(255, 250, 246);
  cursor: pointer;
  padding: 1.5rem 3.5rem;
  transition: all 300ms;
  font-size: 1.8rem;
  color: #3f2107;
  border-radius: 1rem;
  border: 1.5px solid #fdc5a9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-recipe__submit-button:hover {
  transform: scale(1.05);
}

.input {
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 0.3rem 1rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #3f2107;
  width: 100%;
  outline: 1.5px solid rgb(230, 230, 230);
  transition: all 150ms;
}
.input:focus {
  outline: 1.5px solid #ff7f3f;
}
.input.invalid {
  background-color: rgb(253, 200, 200);
  outline: 1.5px solid rgb(255, 107, 107);
}
.input__label {
  font-size: 1.6rem;
  color: #3f2107;
  font-weight: 500;
}

.modal__overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(3px);
}
.modal__box {
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 245, 236);
  border-radius: 1.5rem;
  overflow: hidden;
}
.modal__message-box {
  padding: 3rem 2.5rem;
  font-size: 1.6rem;
  color: #3f2107;
  text-align: left;
  font-style: italic;
}
.modal__title-box {
  background-color: #3f2107;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 1rem 2.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: rgb(255, 245, 236);
}
.modal__button-box {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 1rem 2.5rem;
}
.modal__button--confirm, .modal__button--cancel {
  background-color: #ea5c2b;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: rgb(255, 245, 236);
  font-family: inherit;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 300ms;
}
.modal__button--confirm:hover, .modal__button--cancel:hover {
  transform: scale(1.05);
}
.modal__button--confirm:disabled, .modal__button--cancel:disabled {
  background-color: rgb(255, 245, 236);
  border: 1px solid rgb(197, 197, 197);
  color: rgb(197, 197, 197);
  cursor: auto;
}
.modal__button--confirm:disabled:hover, .modal__button--cancel:disabled:hover {
  transform: scale(1);
}

body:has(.modal__overlay) {
  overflow: hidden;
}

.tooltip {
  position: absolute;
  min-width: 8rem;
  max-width: 24rem;
  top: 95%;
  left: 95%;
  z-index: 10;
  font-size: 1rem;
  font-family: inherit;
  background-color: rgb(255, 250, 246);
  border-radius: 0.5rem;
  border: 1px solid #3f2107;
  padding: 0.5rem;
  color: #3f2107;
  opacity: 0;
  pointer-events: none;
  visibility: none;
  transition: all 150ms;
}

.tooltip-parent {
  position: relative;
}
.tooltip-parent:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.header {
  padding: 2rem 6rem;
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgb(255, 245, 236);
  background-image: linear-gradient(to bottom, rgba(234, 92, 43, 0.15), rgba(234, 92, 43, 0.05)), url("/header-image.jpg");
  background-size: cover;
  background-position: center;
  color: #3f2107;
  animation: blurIn 800ms;
  animation-fill-mode: both;
  animation-delay: 0ms;
}
.header-box {
  border-radius: 1rem;
  background-color: rgba(255, 245, 236, 0.6);
  backdrop-filter: blur(4px);
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3rem 4rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}
.header-box > p {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.header-info-box {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 245, 236);
  background-color: rgba(63, 33, 7, 0.9);
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
  padding: 0.5rem 3rem;
}

.hero {
  display: flex;
  padding: 15rem 10rem;
  background-color: rgb(255, 250, 246);
  gap: 10rem;
  justify-content: space-between;
  text-align: center;
}
.hero-box {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.hero-feature-box {
  margin-top: 4rem;
  animation: moveToTop 800ms, fade 800ms;
  animation-delay: 1800ms;
  animation-fill-mode: both;
}
.hero-feature-text {
  color: #3f2107;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.hero-feature-text::before, .hero-feature-text::after {
  content: "";
  height: 1.5px;
  margin: 0 1.5rem;
  background-color: #3f2107;
}
.hero-feature-list {
  background-color: #3f2107;
  padding: 1.5rem 5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.hero-feature-item {
  height: 2.5rem;
  width: auto;
  display: block;
  filter: opacity(100%);
}
.hero-text, .hero-text-2, .hero-actions {
  animation: moveToTop 800ms, fade 800ms;
  animation-delay: 1200ms;
  animation-fill-mode: both;
}
.hero-text {
  margin-top: 8rem;
  font-size: 1.8rem;
  color: #3f2107;
}
.hero-text-2 {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
.hero-actions {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.hero-image-box {
  position: relative;
  padding: 0rem;
  width: 40%;
  align-items: center;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  background-size: cover;
  animation: fade 800ms, blurIn 800ms;
  animation-delay: 2400ms;
  animation-fill-mode: both;
}
.hero-image-center {
  display: block;
  grid-row: 1/-1;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image-1 {
  display: block;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-image-2 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation {
  padding: 1.5rem 6rem;
  padding-top: 1.5rem;
  border-bottom: 3px double #3f2107;
  background-color: rgb(255, 250, 246);
  display: flex;
  justify-content: space-between;
  animation: fade 800ms;
  animation-fill-mode: both;
  animation-delay: 0ms;
}
.navigation-list, .navigation-list-2 {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.navigation-list-2 {
  gap: 2rem;
}
.navigation-item, .navigation-item-2, .navigation-item-3 {
  display: flex;
  align-items: center;
}
.navigation-item a:link,
.navigation-item a:visited, .navigation-item-2 a:link,
.navigation-item-2 a:visited, .navigation-item-3 a:link,
.navigation-item-3 a:visited {
  padding: 1.5rem 3rem;
  text-decoration: none;
  color: #3f2107;
  transition: all 250ms;
  border-radius: 2px;
  font-size: 1.8rem;
}
.navigation-item a:hover,
.navigation-item a:active, .navigation-item-2 a:hover,
.navigation-item-2 a:active, .navigation-item-3 a:hover,
.navigation-item-3 a:active {
  transform: scale(1.05);
  background-color: rgb(250, 238, 229);
}
.navigation-item.current {
  background-color: rgb(250, 238, 229);
  transform: scale(1.05);
}
.navigation-item-2 a:link,
.navigation-item-2 a:visited {
  padding: 1rem 3rem;
  color: rgb(255, 245, 236);
  background-color: #ea5c2b;
  border-radius: 1rem;
}
.navigation-item-3 a:link,
.navigation-item-3 a:visited {
  padding: 1rem 3rem;
  color: #ea5c2b;
  background-color: rgb(255, 250, 246);
  border-radius: 1rem;
  border: 2px solid #ea5c2b;
}
.navigation__logout {
  padding: 1rem 3rem;
  color: #fb9a69;
  background-color: rgb(255, 250, 246);
  border-radius: 1rem;
  border: 1.5px solid #fb9a69;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.8rem;
  transition: all 250ms;
}
.navigation__logout:hover {
  transform: scale(1.05);
}
.navigation__logout:hover:disabled {
  transform: scale(1);
}
.navigation__logout:disabled {
  color: #aaa;
  border: 2px solid #aaa;
  cursor: auto;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 15rem 30rem;
  background-color: rgb(250, 238, 229);
  overflow: hidden;
  position: relative;
}
.testimonial-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.testimonial-item-2 {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.testimonial-box, .testimonial-box-2 {
  margin-left: -4rem;
  background-color: rgb(255, 250, 246);
  color: #3f2107;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  padding-left: 10rem;
  padding-right: 8rem;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.08);
  transform: skewX(-10deg);
}
.testimonial-box *, .testimonial-box-2 * {
  transform: skewX(10deg);
}
.testimonial-video-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}
.testimonial-video {
  height: 100%;
  opacity: 0.08;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.testimonial-box-2 {
  margin-left: 0;
}
.testimonial-image, .testimonial-image-2 {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  border-image: url("../assets/svg blobs/blob-1.svg");
  border-image-slice: 30 fill;
  z-index: 1;
  outline: 3.5px solid #ea5c2b;
  outline-offset: 6px;
  cursor: pointer;
  animation: zoomOut 400ms;
  animation-fill-mode: both;
}
.testimonial-image:hover, .testimonial-image-2:hover {
  animation: zoomIn 400ms;
  animation-fill-mode: both;
}
.testimonial-image-2 {
  margin-left: -4rem;
}
.testimonial-text {
  font-style: italic;
  font-size: 1.8rem;
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}

.section-recipes {
  padding: 12rem 18rem;
  background-color: rgb(255, 250, 246);
}
.section-recipes__box {
  display: grid;
  margin-top: 8rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  column-gap: 12rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  overflow: hidden;
}
.recipe__image-box {
  overflow: hidden;
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}
.recipe__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.recipe__button-action {
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  background-color: rgb(255, 245, 236);
  opacity: 0.9;
  border: none;
  border: 1.5px solid #ea5c2b;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 1rem;
  color: #ea5c2b;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
.recipe__button-action:hover {
  transform: scale(1.1);
}
.recipe__button-action:hover:disabled {
  transform: scale(1);
}
.recipe__button-action:disabled {
  color: #aaa;
  border: 1.5px solid #aaa;
  cursor: auto;
}
.recipe__button-action.saved {
  color: red;
}
.recipe__logo, .recipe__logo-2 {
  height: 2.75rem;
  width: 2.75rem;
  color: currentColor;
  fill: currentColor;
}
.recipe__logo-2 {
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}
.recipe__all-details {
  color: #3f2107;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.recipe__all-details > * {
  padding: 1rem 2rem;
}
.recipe__details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #fcf7e1;
}
.recipe__publisher {
  color: #3f2107;
  font-size: 2.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: auto;
}
.recipe__link {
  text-align: right;
}
.recipe__link:link, .recipe__link:visited {
  color: #ea5c2b;
}
.recipe__link:hover, .recipe__link:active {
  font-weight: 500;
}
.recipe__specifics {
  display: flex;
  align-items: center;
}
.recipe__duration {
  margin-right: auto;
}
.recipe__servings {
  margin: 0 1rem;
  width: 13rem;
  text-align: center;
}
.recipe__button {
  cursor: pointer;
  top: 2rem;
  margin: 0 0.5rem;
  right: 2rem;
  height: 5rem;
  padding: 1rem;
  background-color: rgb(255, 245, 236);
  opacity: 0.9;
  border: none;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
}
.recipe__button:hover {
  transform: scale(1.1);
}
.recipe__button:last-child {
  margin-right: 0;
}
.recipe__button span {
  bottom: 0.4rem;
  right: 0.4rem;
  font-size: 1.2rem;
}
.recipe__ingredient-list {
  display: grid;
  padding: 4rem 5rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 2rem;
  align-items: flex-end;
  justify-content: center;
}

.footer {
  background-color: #3f2107;
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  color: rgb(255, 245, 236);
  padding: 2rem 3rem;
  padding-bottom: 0;
}
.footer > * {
  padding: 2rem 5rem;
}
.footer-flavory {
  align-self: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-about {
  display: flex;
  flex-direction: column;
}
.footer-address {
  display: flex;
  gap: 3.5rem;
  margin-top: auto;
  align-self: flex-end;
  padding: 1rem 5rem;
}
.footer-text {
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: justify;
}
.footer-link {
  color: rgb(255, 245, 236);
  font-style: normal;
  display: block;
}
.footer-link-2 {
  color: rgb(255, 245, 236);
  font-style: normal;
  border: 1px solid transparent;
  transition: all 300ms;
  padding: 0.4rem;
}
.footer-link-2:hover {
  border: 1px solid rgb(255, 245, 236);
}
.footer-logo {
  width: 2.5rem;
  height: 2.5rem;
  fill: rgb(255, 250, 246);
  transition: all 300ms;
}
.footer-logo:hover {
  transform: scale(1.15);
}
.footer-navigate-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  text-align: center;
  padding-left: 7rem;
  padding-right: 3rem;
  justify-items: flex-start;
}
.footer-navigate-list a:link,
.footer-navigate-list a:visited {
  display: block;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  color: rgb(255, 245, 236);
  font-size: 1.4rem;
  transform: skewX(0deg) translateX(0);
  transition: all 300ms;
}
.footer-navigate-list li:nth-child(even) {
  justify-self: flex-end;
}
.footer-navigate-list a:hover,
.footer-navigate-list a:active {
  transform: skewX(-10deg) translateX(1rem);
}
.footer-copyright {
  align-self: center;
  grid-column: 3/4;
  text-align: right;
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 5rem;
}
.footer-navigate {
  display: flex;
  flex-direction: column;
}
.footer-line {
  grid-column: 1/-1;
  height: 0.1rem;
  padding: 0;
  background-color: rgb(255, 250, 246);
}

.search {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  overflow: hidden;
  justify-content: space-between;
}
.search__button-box {
  padding: 6rem;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  justify-content: space-between;
  padding: 0 5rem;
  margin-bottom: 2rem;
}
.search__box {
  padding: 6rem;
  border-radius: 2rem;
  min-height: 20rem;
  background-color: rgba(255, 245, 236, 0.15);
}
.search-bar {
  padding: 1rem;
  font-family: inherit;
  border: 2px solid rgba(63, 33, 7, 0.3);
  border-radius: 1rem;
}
.search-bar::placeholder {
  font-family: inherit;
}
.search-bar:focus {
  outline: none;
  border: 2px solid #ea5c2b;
}
.search-button {
  padding: 1rem 2rem;
  background-color: rgba(234, 92, 43, 0.8);
  border: none;
  font-family: inherit;
  cursor: pointer;
  border-radius: 1rem;
}
.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 0.5rem;
  margin-bottom: 4rem;
  grid-column: 1/-1;
  padding: 0 16rem;
}
.search-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}
.search__item:hover .search__item--front, .search__item:hover .search__item--back {
  transform: rotateY(180deg);
}
.search__item--front, .search__item--back {
  width: 100%;
  background-color: rgb(255, 250, 246);
  box-shadow: 1rem 1rem 2rem rgba(63, 33, 7, 0.13);
  position: relative;
  aspect-ratio: 1/1;
  transition: all 500ms;
  backface-visibility: hidden;
  border-radius: 1rem;
  border: none;
  overflow: hidden;
}
.search__item--front__image, .search__item--back__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.search__item--front__image-box, .search__item--back__image-box {
  display: block;
  height: 100%;
}
.search__item--front__mask, .search__item--back__mask {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(255, 127, 63, 0.15), rgba(255, 127, 63, 0.05));
}
.search__item--front__title-box, .search__item--back__title-box {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
}
.search__item--front__title, .search__item--back__title {
  max-width: 100%;
  background-image: linear-gradient(to bottom right, rgba(246, 216, 96, 0.95), rgba(246, 216, 96, 0.75));
  color: #3f2107;
  font-style: italic;
  font-weight: 500;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 0.3rem;
  overflow: hidden;
}
.search__item--front {
  transform: rotateY(0deg);
}
.search__item--front__title {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search__item--back {
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  z-index: -1;
  backface-visibility: visible;
  position: absolute;
}
.search__item--back__image {
  filter: blur(3px);
}
.search__item--back__title-box {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.search__item--back__publisher {
  max-width: 100%;
  background-image: linear-gradient(to bottom right, rgba(149, 205, 65, 0.95), rgba(149, 205, 65, 0.75));
  color: #3f2107;
  font-style: italic;
  font-weight: 500;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 0.3rem;
}

.no-selected {
  min-height: 20rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5rem;
  padding-left: 22rem;
  position: relative;
  border-bottom: 8px solid #ea5c2b;
}
.no-selected__logo {
  height: 4rem;
  width: 4rem;
  color: #3f2107;
  fill: #3f2107;
  margin-right: 1rem;
}
.no-selected__art {
  position: absolute;
  height: 18rem;
  height: 100%;
  color: #ea5c2b;
  left: -10%;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
}

.custom-page__404 {
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-page__404-text {
  font-size: 4.5rem;
  font-family: "Monserrat", monospace;
  font-weight: 300;
  color: #3f2107;
}
.custom-page__404-logo {
  height: 5rem;
  width: 5rem;
  color: #3f2107;
  fill: #3f2107;
}

.pages__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pages__item {
  margin: 1rem 1.5rem;
}
.pages__button {
  cursor: pointer;
  font: inherit;
  background-color: rgb(255, 245, 236);
  color: #3f2107;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1.5px solid #ea5c2b;
}
.pages__button.current {
  background-color: #ea5c2b;
  color: rgb(255, 245, 236);
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  align-items: flex-start;
  position: relative;
  margin-top: 4rem;
  padding: 6rem;
  column-gap: 6rem;
}

.signup {
  display: flex;
  flex-direction: column;
  padding: 8rem 48rem;
}
.signup__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.signup__submit {
  background-color: #ea5c2b;
  border: none;
  font-family: inherit;
  color: rgb(255, 245, 236);
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.6rem;
}
.signup__message {
  font-size: 1.4rem;
  color: red;
  font-weight: 400;
}
.signup__text {
  font-size: 1.4rem;
  color: #3f2107;
  font-weight: 400;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 8rem 48rem;
}
.login__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.login__submit {
  background-color: #ea5c2b;
  grid-column: 2/-1;
  border: none;
  font-family: inherit;
  color: rgb(255, 245, 236);
  padding: 1rem 2rem;
  margin-top: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.account {
  padding: 4rem;
  padding-bottom: 0;
}
.account__content-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.account__bookmarks {
  padding: 4rem 8rem;
}
.account__own {
  gap: 3rem;
  padding: 4rem 8rem;
}
.account__bookmarks-list {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 2rem;
}

/*# sourceMappingURL=globals.css.map */
