body {
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-primary;
  font-family: "Montserrat", sans-serif;
}

.heading--1 {
  font-family: "Inconsolata", monospace;
  font-size: 6.6rem;
  font-weight: 400;
  letter-spacing: 3.6px;
  color: $color-font--black;
}
