$color-primary: #ea5c2b;
$color-primary--light: #ff7f3f;
$color-primary--white: rgb(255, 250, 246);

$color-accent--yellow: #f6d860;
$color-accent--green: #95cd41;

$color-font--white: rgb(255, 245, 236);
$color-font--black: #3f2107;
